<h1>Welcome to cg!</h1>
<app-login></app-login>
<img src="../assets/images/insta-square1.png" height="100px">
<app-login></app-login>
<br>

<hr>

<!-- binding -->

{{title}}
<br>
<br>
{{num1+num2}}
<br>
<br>
<img [src]="imgpath" height="100px" />
<br>
<br>
<input type="text" [(ngModel)]="pname" /><br> <!-- two way binding-->
{{pname}}
<br>
<br>

<hr>
assignment
<br>
<br>
<br>

<app-admin></app-admin>
<hr>

<br>
<br>
<br>

<button (click)="show = !show">{{show?'hide' : 'show'}}</button>
show={{show}}

<br>
<br>
<br>

<div [ngSwitch]="weekday">
    <div *ngSwitchCase="'mon'">Monday</div>
    <div *ngSwitchCase="'tue'">Tuesday</div>
    <div *ngSwitchDefault>Sunday</div>
</div>

<br>
<br>
<br>

<div *ngIf="show else BlockElse">Text show</div>
<ng-template #BlockElse>Block executed</ng-template><br>

<table border="1px solid black">
    <tr>
        <th>
            title
        </th>
        <th>
            director
        </th>
    </tr>
    <tr *ngFor="let obj of movies;">
        <td>{{obj.title}}</td>
        <td>{{obj.director}}</td>
    </tr>
</table>
<br>

<hr>

<br><br><br>

<table border="1px solid black">
    <tr>
        <th>
            name
        </th>
        <th>
            city
        </th>
    </tr>
    <tr *ngFor="let obj of empArray;">
        <td>{{obj.name}}</td>
        <td>{{obj.city}}</td>
    </tr>
</table>

<br>
<br>

<div [ngSwitch]="value">
    <div *ngSwitchCase="1">active</div>
    <div *ngSwitchCase="2">non active</div>
    <div *ngSwitchDefault>default</div>
</div>

<br><br>

<button (click)="onGross(30000,30000)">Calculate Amount</button>

<div *ngIf="show else BlockElse">eligible</div>
<ng-template #BlockElse>not eligible</ng-template><br>

